.data-service-bg {
  position: relative;
  z-index: 2;
  &::before {
    top: 68px;
    z-index: 1;
    content: '';
    width: 559px;
    left: -172px;
    opacity: 0.2;
    height: 499px;
    position: absolute;
    filter: blur(200px);
    border-radius: 559px;
    background: var(--algoseek-color-accent);
  }
  &::after {
    z-index: 1;
    content: '';
    width: 465px;
    opacity: 0.1;
    height: 417px;
    right: -158px;
    bottom: -113px;
    position: absolute;
    filter: blur(125px);
    border-radius: 465px;
    background: var(--algoseek-color-accent);
  }
}
