<div class="bg-greyScale-dark xl:py-[100px] md:py-[80px] py-[40px] data-service-bg max-w-[100vw] overflow-hidden">
  <div class="container mx-auto">
    <div class="flex flex-col items-center xl:gap-[80px] md:gap-[60px] gap-[32px] w-full max-xl:px-[16px]">
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        <div class="flex flex-col items-center gap-4 w-full">
          <div class="desktop-subheader accent-green">
            <a>{{ useCases().subtitle }}</a>
          </div>
          <div class="desktop-heading-h2 greyScale-white text-center">
            <a [innerHTML]="useCases().title"></a>
          </div>
        </div>
      </div>
      <div class="sm:grid lg:grid-cols-4 grid-cols-2 max-sm:flex max-sm:flex-col gap-6 w-full">
        @for(image of useCases().images; track image) {
          <div class="flex items-center greyScale-white text-center w-full relative">
            <img
              [src]="baseUrl + '/assets/' + image.use_cases_images_id.image"
              alt="data-services-card"
              class="rounded-2xl w-full xl:h-[350px] md:h-[300px] md:object-cover"
            />
          </div>
        }
      </div>
    </div>
  </div>
</div>
