<div class="bg-greyScale-dark xl:py-[100px] md:py-[80px] py-[40px]">
  <div class="container mx-auto">
    <div class="flex flex-col items-center xl:gap-[80px] md:gap-[60px] gap-[32px] w-full max-xl:px-[16px]">
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        <div class="flex flex-col items-center gap-4 w-full">
          <div class="desktop-subheader accent-green">
            <a>Professional, Adaptable, Efficient, Cost-effective</a>
          </div>
          <div class="desktop-heading-h2 greyScale-white text-center">
            <a
              >Data & Services<br />
              for Most Rigorous Use Cases</a
            >
          </div>
        </div>
      </div>
      <div class="sm:grid lg:grid-cols-4 grid-cols-2 max-sm:flex max-sm:flex-col gap-6 w-full">
        <div class="flex items-center greyScale-white text-center w-full relative">
          <img
            src="../../../../../assets/images/data-services/data-services-card1.png"
            alt="data-services-card"
            class="rounded-xl w-full"
          />
          <div class="p-7 pt-0 absolute left-0 w-full bottom-0 desktop-heading-h4">Quant and Algo Trading</div>
        </div>
        <div class="flex items-center greyScale-white text-center w-full relative">
          <img
            src="../../../../../assets/images/data-services/data-services-card2.png"
            alt="data-services-card"
            class="rounded-xl w-full"
          />
          <div class="p-7 pt-0 absolute left-0 w-full bottom-0 desktop-heading-h4">Order Routing</div>
        </div>
        <div class="flex items-center greyScale-white text-center w-full relative">
          <img
            src="../../../../../assets/images/data-services/data-services-card3.png"
            alt="data-services-card"
            class="rounded-xl w-full"
          />
          <div class="p-7 pt-0 absolute left-0 w-full bottom-0 desktop-heading-h4">Machine Learning</div>
        </div>
        <div class="flex items-center greyScale-white text-center w-full relative">
          <img
            src="../../../../../assets/images/data-services/data-services-card4.png"
            alt="data-services-card"
            class="rounded-xl w-full"
          />
          <div class="p-7 pt-0 absolute left-0 w-full bottom-0 desktop-heading-h4">Market Making</div>
        </div>
      </div>
    </div>
  </div>
</div>
