// Heading-text
.desktop-heading-h1 {
  font-family: 'Proxima Nova';
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -4.2px;
  @media screen and (max-width: 1024px) {
    font-size: 90px;
    line-height: 108%;
    letter-spacing: -3.62px;
  }
  @media screen and (max-width: 768px) {
    font-size: 70px;
    line-height: 104%;
    letter-spacing: -2.62px;
  }
  @media screen and (max-width: 640px) {
    font-size: 54px;
    line-height: 102%;
    letter-spacing: -1.62px;
  }
}

.desktop-heading-h1 a {
  font-family: 'Helvetica';
}

.desktop-heading-h2 {
  font-family: 'Proxima Nova';
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.6px;
  @media screen and (max-width: 1024px) {
    font-size: 54px;
    line-height: 108%;
    letter-spacing: -0.5px;
  }
  @media screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.4px;
  }
  @media screen and (max-width: 640px) {
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.4px;
  }
}
.desktop-heading-h2 a {
  font-family: 'Helvetica';
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.12px;
  @media screen and (max-width: 1024px) {
    font-size: 50px;
    line-height: 108%;
    letter-spacing: -0.5px;
  }
  @media screen and (max-width: 768px) {
    font-size: 44px;
    line-height: 104%;
    letter-spacing: -0.4px;
  }
  @media screen and (max-width: 640px) {
    font-size: 36px;
    line-height: 105%;
    letter-spacing: -0.4px;
  }
}
.desktop-heading-h3 {
  font-family: 'Proxima Nova';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.desktop-heading-h4 {
  font-family: 'Proxima Nova';
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  @media screen and (max-width: 1024px) {
    font-size: 28px;
    line-height: 114%;
  }
  @media screen and (max-width: 768px) {
    font-size: 26px;
    line-height: 112%;
  }
  @media screen and (max-width: 640px) {
    font-size: 24px;
    line-height: 110%;
  }
}
.desktop-heading-h6 {
  font-family: 'Proxima Nova';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
    line-height: 130%;
  }
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 120%;
  }
}

// subheader-text
.desktop-subheader {
  font-family: 'Proxima Nova';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  @media screen and (max-width: 1024px) {
    font-size: 24px;
    line-height: 120%;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 115%;
  }
  @media screen and (max-width: 640px) {
    font-size: 18px;
    line-height: 110%;
  }
}
.desktop-subheader a {
  font-family: 'Helvetica';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  @media screen and (max-width: 1024px) {
    font-size: 22px;
    line-height: 120%;
  }
  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 115%;
  }
  @media screen and (max-width: 640px) {
    font-size: 16px;
    line-height: 110%;
  }
}

// Normal-text
.desktop-body-text {
  font-family: 'Proxima Nova';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}
.desktop-body-text-sm {
  font-family: 'Proxima Nova';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.desktop-body-label {
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

// button-css
.desktop-link-button {
  font-family: 'Proxima Nova';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.theme-button {
  height: 60px;
  border-radius: 500px;
  background-color: var(--algoseek-color-accent);
  color: var(--algoseek-color-white);
  @media screen and (max-width: 768px) {
    height: 48px;
  }
}
.links-button {
  font-family: 'Proxima Nova';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media screen and (max-width: 1024px) {
    font-size: 18px;
    font-weight: 600;
  }
}
.outline-white-btn {
  display: flex;
  height: 60px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 500px;
  border: 2px solid var(--Greyscale-Lighter-grey, #babcbf);
}

// colors
.accent-green {
  color: var(--algoseek-color-accent);
}

.greyScale-white {
  color: var(--algoseek-color-white);
}

.greyScale-dark {
  color: var(--algoseek-color-dark);
}

.greyScale-black {
  color: var(--algoseek-color-black);
}

.greyScale-darker-grey {
  color: var(--algoseek-color-darker-gray);
}
.greyScale-grey {
  color: var(--algoseek-color-grayscale-gray);
}
.greyScale-dark-grey {
  color: var(--algoseek-color-dark-gray);
}
.greyScale-light-base {
  color: var(--algoseek-color-bg-gray);
}
.greyScale-lighter-gray {
  color: var(--algoseek-color-grayscale-lighter-gray);
}

// background
.bg-accent-green {
  background-color: var(--algoseek-color-accent);
}
.bg-greyScale-white {
  background-color: var(--algoseek-color-white);
}
.bg-greyScale-dark {
  background-color: var(--algoseek-color-dark);
}
.bg-greyScale-darker-grey {
  background-color: var(--algoseek-color-darker-gray);
}
.bg-greyScale-grey {
  background-color: var(--algoseek-color-grayscale-gray);
}

.bg-common-gradient {
  background: var(
    --Base-Green-01,
    linear-gradient(0deg, rgba(246, 250, 245, 0.85) 0%, rgba(246, 250, 245, 0.85) 100%),
    #fff
  );
}
