:root {
  --desktop-lg-width: 1600px;
  --desktop-width: 1440px;
  --desktop-md-width: 1368px;
  --desktop-sm-width: 1200px;
  --tablet-width: 1024px;
  --tablet-md-width: 768px;
  --mobile-width: 576px;
  --mobile-md-width: 412px;

  --algoseek-color-accent: #59a745;
  --algoseek-color-dark: #1d1d1f;
  --algoseek-color-black: #050505;
  --algoseek-color-dark-gray: #3d3a3a;
  --algoseek-color-darker-gray: #575a5c;
  --algoseek-color-form-gray: #faf4ec;
  --algoseek-color-white: #ffffff;
  --algoseek-color-grayscale-gray: #797c80;
  --algoseek-color-grayscale-lighter-gray: #babcbf;
  --algoseek-color-light-gray: #8e8e8f;
  --algoseek-color-lighter-gray: #e6e8eb;
  --algoseek-color-error: #ff0015;
  --algoseek-color-bg-green: #f6faf5d9;
  --algoseek-color-bg-gray: #f5f6f7;
  --algoseek-color-bg-dark: #171718;
  --algoseek-color-bg-error: rgba(255, 0, 21, 0.1);
}
