<div
  class="sm:flex grid grid-cols-1 justify-center 2xl:px-20 xl:px-10 px-5 lg:py-10 py-6 2xl:gap-16 gap-8 items-end border-t border-[#E6E8EB] flex-wrap"
>
  <div class="flex sm:items-start items-center max-sm:flex-col gap-4 flex-1">
    <div class="flex justify-center items-center gap-2 flex-1">
      <div class="flex flex-col justify-center sm:items-start items-center">
        <div class="desktop-body-tooltip greyScale-darker-grey">Sales Phone</div>
        <div class="desktop-heading-h6 greyScale-dark whitespace-nowrap">{{ headerContacts()[0].contact_info }}</div>
      </div>
    </div>

    <div class="flex justify-center items-center gap-2 flex-1">
      <div class="flex flex-col justify-center sm:items-start items-center">
        <div class="desktop-body-tooltip greyScale-darker-grey">Sales Email</div>
        <div class="desktop-heading-h6 greyScale-dark whitespace-nowrap">{{ headerContacts()[1].contact_info }}</div>
      </div>
    </div>

    <div class="flex justify-center items-center gap-2 flex-1">
      <div class="flex flex-col justify-center sm:items-start items-center">
        <div class="desktop-body-tooltip greyScale-darker-grey">Support Phone</div>
        <div class="desktop-heading-h6 greyScale-dark whitespace-nowrap">{{ headerContacts()[3].contact_info }}</div>
      </div>
    </div>
    
    <div class="flex justify-center items-center gap-2 flex-1">
      <div class="flex flex-col justify-center sm:items-start items-center">
        <div class="desktop-body-tooltip greyScale-darker-grey">Support Email</div>
        <div class="desktop-heading-h6 greyScale-dark whitespace-nowrap">{{ headerContacts()[2].contact_info }}</div>
      </div>
    </div>
  </div>
  <button
    class="flex lg:h-[60px] h-[48px] px-6 items-center justify-center gap-2 border-[2px] border-[#BABCBF] rounded-full links-button"
  >
    Contact us online
    <img src="assets/images/arrow-up-cross_black.svg" alt="" />
  </button>
</div>
