<div class="py-[80px] bg-greyScale-dark border-b border-[#444]">
  <div class="container mx-auto">
    <div class="flex max-lg:flex-col 2xl:gap-[200px] xl:gap-[100px] lg:gap-[40px] gap-[60px] px-[16px]">
      <div class="flex flex-wrap flex-col max-lg:justify-center gap-12">
        <img src="../../../assets/images/Logo-footer.svg" />
        <div class="flex flex-col gap-4">
          <div class="desktop-body-text greyScale-white opacity-70 max-lg:text-center">Subscribe to our newsletter</div>
          <div class="flex items-center max-lg:justify-center">
            <div class="border-b border-white">
              <input
                type="text"
                placeholder="Your e-mail"
                class="outline-none shadow-none border-none bg-greyScale-dark py-3 desktop-body-text w-[273px] text-white"
              />
            </div>
            <div class="bg-greyScale-white h-12 w-12 rounded-full flex items-center justify-center">
              <img src="../../../assets/images/share-icon.svg" alt="share-icon" />
            </div>
          </div>
        </div>
      </div>
      
      <div class="website-map">
        <div class="section" [class.active]="dropdowns['comingSoon']">
          <div class="header text-white" (click)="toggleDropdown('comingSoon')">
            Coming soon
            <div>
              <svg class="toggle-icon" viewBox="0 0 11 7" fill="none">
                <path xmlns="http://www.w3.org/2000/svg" d="M1 1.25L5.5 5.75L10 1.25" stroke="white"/>
              </svg>
            </div>
          </div>
          @for(link of footerLinks() | slice : 0 : 3; track link) {
            <a class="item algoseek-menu__link text-darker-gray mb-12">
              {{ link.label }}
            </a>
          }
        </div>
        <div class="section" [class.active]="dropdowns['whatsNew']">
          <div class="header text-white" (click)="toggleDropdown('whatsNew')">
            What’s new
            <div>
              <svg class="toggle-icon" viewBox="0 0 11 7" fill="none">
                <path xmlns="http://www.w3.org/2000/svg" d="M1 1.25L5.5 5.75L10 1.25" stroke="white"/>
              </svg>
            </div>
          </div>
          @for(link of footerLinks() | slice : 3 : 6; track link) {
            <a class="item algoseek-menu__link text-darker-gray mb-12">
              {{ link.label }}
            </a>
          }
        </div>
        <div class="section" [class.active]="dropdowns['legal']">
          <div class="header text-white" (click)="toggleDropdown('legal')">
            Legal
            <div>
              <svg class="toggle-icon" viewBox="0 0 11 7" fill="none">
                <path xmlns="http://www.w3.org/2000/svg" d="M1 1.25L5.5 5.75L10 1.25" stroke="white"/>
              </svg>
            </div>
          </div>
          @for(link of footerLinks() | slice : 6 : 11; track link) {
            <a class="item algoseek-menu__link text-darker-gray mb-12">
              {{ link.label }}
            </a>
          }
        </div>
        <div class="section" [class.active]="dropdowns['resources']">
          <div class="header text-white" (click)="toggleDropdown('resources')">
            Resources
            <div>
              <svg class="toggle-icon" viewBox="0 0 11 7" fill="none">
                <path xmlns="http://www.w3.org/2000/svg" d="M1 1.25L5.5 5.75L10 1.25" stroke="white"/>
              </svg>
            </div>
          </div>
          @for(link of footerLinks() | slice : 11 : 15; track link) {
            <a class="item algoseek-menu__link text-darker-gray mb-12">
              {{ link.label }}
            </a>
          }
        </div>
      </div>

    </div>
  </div>
</div>
<div class="md:py-[32px] py-5 bg-greyScale-dark">
  <div class="container mx-auto">
    <div class="flex justify-between max-md:flex-col-reverse px-[16px]">
      <div class="desktop-body-label greyScale-white opacity-50 max-md:pt-4 max-md:text-center">
        algoseek 2024. All rights reserved
      </div>
      <div class="flex items-center max-md:justify-center gap-6 max-md:border-b max-md:border-[#444] max-md:pb-4">
        <img src="../../../assets/images/linkedIn.svg" class="opacity-50" />
        <img src="../../../assets/images/slack.svg" class="opacity-50" />
      </div>
    </div>
  </div>
</div>
