<div class="py-[80px] bg-greyScale-dark border-b border-[#444]">
  <div class="container mx-auto">
    <div class="flex max-lg:flex-col 2xl:gap-[200px] xl:gap-[100px] lg:gap-[40px] gap-[60px] px-[16px]">
      <div class="flex flex-wrap flex-col max-lg:justify-center gap-12">
        <img src="../../../assets/images/Logo-footer.svg" />
        <div class="flex flex-col gap-4">
          <div class="desktop-body-text greyScale-white opacity-70 max-lg:text-center">Subscribe to our newsletter</div>
          <div class="flex items-center max-lg:justify-center">
            <div class="border-b border-white">
              <input
                type="text"
                placeholder="Your e-mail"
                class="outline-none shadow-none border-none bg-greyScale-dark py-3 desktop-body-text w-[273px] text-white"
              />
            </div>
            <div class="bg-greyScale-white h-12 w-12 rounded-full flex items-center justify-center">
              <img src="../../../assets/images/share-icon.svg" alt="share-icon" />
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between flex-1 max-lg:grid max-lg:grid-cols-2 max-sm:grid-cols-1 max-lg:gap-10">
        <div class="flex flex-col lg:gap-7 gap-5">
          <div class="desktop-links-nav greyScale-white">Coming soon</div>
          <div class="flex flex-col gap-5">
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Cash Forex</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Cryptocurrencies</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Full Corporate Events</a>
          </div>
        </div>
        <div class="flex flex-col lg:gap-7 gap-5">
          <div class="desktop-links-nav greyScale-white">What's new</div>
          <div class="flex flex-col gap-5">
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Master File</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">ML4T Download</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">LEAN Format</a>
          </div>
        </div>
        <div class="flex flex-col lg:gap-7 gap-5">
          <div class="desktop-links-nav greyScale-white">Legal</div>
          <div class="flex flex-col gap-5">
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer"
              >Data Licensing and <br />Service Master Agreement</a
            >
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Master Service Agreement</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Schedule 2</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Schedule 3</a>
          </div>
        </div>
        <div class="flex flex-col lg:gap-7 gap-5">
          <div class="desktop-links-nav greyScale-white">Resources</div>
          <div class="flex flex-col gap-5">
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer"
              >Data Licensing and <br />Service Master Agreement</a
            >
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Terms of Use</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Site Map</a>
            <a class="desktop-links-nav greyScale-white opacity-50 cursor-pointer">Cookie setting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="md:py-[32px] py-5 bg-greyScale-dark">
  <div class="container mx-auto">
    <div class="flex justify-between max-md:flex-col-reverse px-[16px]">
      <div class="desktop-body-label greyScale-white opacity-50 max-md:pt-4 max-md:text-center">
        algoseek 2024. All rights reserved
      </div>
      <div class="flex items-center max-md:justify-center gap-6 max-md:border-b max-md:border-[#444] max-md:pb-4">
        <img src="../../../assets/images/linkedIn.svg" class="opacity-50" />
        <img src="../../../assets/images/slack.svg" class="opacity-50" />
      </div>
    </div>
  </div>
</div>
