
<div class="h-[600px] bg-common-gradient overflow-hidden flex items-center pl-[80px] relative">
    <div class="flex flex-col justify-center items-start max-w-[50%]">
        <h5 class="desktop-heading-h5 accent-green mb-2">
            {{ourVisionHeroContent().subtitle}}
        </h5>
        <h2 class="desktop-heading-h2 mb-2">
            {{ourVisionHeroContent().title}}
        </h2>
        <p class="desktop-body-text greyScale-darker-grey">
            {{ourVisionHeroContent().description}}
        </p>
    </div>
    <img src="assets/images/our-vision-header.png" alt="Our Vision" class="absolute right-0 top-0 h-full object-cover">
</div>
<div class="mx-auto py-20  px-[16px] sm:px-[32px] md:px-[48px] lg:px-[200px]">
    @for (dialogue of ourVisionDialogueContent(); track dialogue; let  i = $index) {
      <div
        [ngClass]="{
          'px-6 w-full mb-8': true,
          'bg-light-green p-[24px] rounded-[16px]': i % 2 === 1,
          'first:mb-[64px]': i === 0, 
          'last:mb-0': i === ourVisionDialogueContent().length - 1
        }"
      >
        @if (i === 1) {
          <img
            src="assets/images/Avatar.png"
            class="m-[-74px_24px_20px] w-[100px] h-[100px]"
            alt="avatar"
          />
        }
        <p class="desktop-body-text mb-[12px]">
          {{ dialogue.text }}
        </p>
        <p class="desktop-body-label">- {{ dialogue.speaker }}</p>
      </div>
    }
  </div>
  
    

  