<div class="xl:py-[100px] md:py-[80px] py-[40px] bg-common-gradient max-sm:border-b">
  <div class="container mx-auto">
    <div
      class="grid lg:grid-cols-2 xl:gap-20 lg:gap-8 max-xl:px-[16px] max-md:flex max-md:flex-col-reverse max-md:gap-8"
    >
      <img src="../../../../../assets/images/infraConnect/infraConnect-image.png" class="rounded-[20px]" />
      <div class="flex flex-col md:gap-[60px] gap-9">
        <div class="flex flex-col md:gap-3 gap-2">
          <div class="desktop-heading-h3 accent-green max-md:text-center">
            <a class="font-light">infra<span class="font-bold">Connect</span></a>
          </div>

          <div class="desktop-heading-h2 greyScale-dark max-md:text-center">
            <a>Co-location & Cloud Integration</a>
          </div>
        </div>

        <div class="grid md:grid-cols-4 grid-cols-2">
          <div class="pr-4 max-md:pb-4 border-r max-md:border-b text-center flex flex-col md:gap-4 gap-2.5">
            <img src="../../../../../assets/images/infraConnect/coLocation.svg" class="mx-auto max-sm:h-9" />
            <div>Co-location and hosted applications</div>
          </div>

          <div
            class="md:px-4 max-md:pl-4 max-md:pb-4 md:border-r max-md:border-b text-center flex flex-col md:gap-4 gap-2.5"
          >
            <img src="../../../../../assets/images/infraConnect/low-latency.svg" class="mx-auto max-sm:h-9" />
            <div>Low-latency market data</div>
          </div>

          <div class="md:px-4 max-md:pr-4 max-md:pt-4 border-r text-center flex flex-col md:gap-4 gap-2.5">
            <img src="../../../../../assets/images/infraConnect/custom-build-servers.svg" class="mx-auto max-sm:h-9" />
            <div>Custom built servers</div>
          </div>

          <div class="pl-4 max-md:pt-4 text-center flex flex-col md:gap-4 gap-2.5">
            <img src="../../../../../assets/images/infraConnect/Remotehands.svg" class="mx-auto max-sm:h-9" />
            <div>Remote hands</div>
          </div>
        </div>

        <div class="flex flex-col md:gap-6 gap-5">
          <div class="desktop-body-text-sm greyScale-darker-grey">
            A centralized platform providing immediate access to a comprehensive suite of algoseek and thirdparty
            financial data, tools, and services, all within a secure cloud environment
          </div>

          <div class="flex justify-start max-md:w-full">
            <button class="outline-black-btn flex items-center justify-center gap-2 cursor-pointer max-md:w-full">
              <span class="links-button greyScale-black">Learn more</span>
              <img src="../../../../../assets/images/arrow-up-cross_black.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
