/* full-screen overlay menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 51;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  opacity: 0;
}

.overlay.show {
  transform: translateY(0);
  opacity: 1;
  display: flex;
}

/* close button */
.close-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* overlay navigation list */
.overlay-nav-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.console-btn:hover > .app-logo {
  transform: rotate(315deg);
}

.app-logo {
  transition: transform ease-in-out 0.5s;
}

.nav-item {
  position: relative;
  transition: transform ease-in-out 0.5s;
  a:hover {
    color: var(--algoseek-color-accent);
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 2px;
      background-color: var(--algoseek-color-accent);
      width: 100%;
    }
  }
}
