<section class="grid grid-cols-12 lg:px-[80px] md:px-[30px] px-[16px]">
  <div class="lg:col-span-4 sm:col-span-3 col-span-6">
    <div class="lg:py-[42px] md:py-[30px] sm:py-[20px] py-[12px]">
      <img src="../../../assets/images/main_logo.png" alt="main-logo" class="lg:h-[56px] md:h-[36px] h-[36px]" />
    </div>
  </div>
  <div class="lg:col-span-4 col-span-6">
    <div class="hidden sm:flex items-center justify-between lg:py-[59px] md:py-[40px] py-[24px]">
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Data</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Services</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Docs</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Company</div>
      <div class="md:text-[18px] text-[16px] leading-[22px] font-bold text-[#1D1D1F] cursor-pointer">Contact</div>
    </div>
    <div class="sm:hidden flex justify-end items-center h-full">
      <div>
        <img src="../../../assets/images/humberger_menu.svg" alt="menu" />
      </div>
    </div>
  </div>
  <div class="lg:col-span-4 sm:col-span-3 col-span-12">
    <div class="hidden sm:flex justify-end items-center h-full">
      <button
        class="theme-button flex items-center justify-center gap-[10px] lg:px-[31px] md:px-[20px] px-[14px] lg:py-[16.5px] md:py-[12px] py-[10px] rounded-[60px] cursor-pointer"
      >
        <img src="../../../assets/images/console_menu.svg" alt="console-menu" class="max-md:h-[16px]" />
        <span class="lg:text-[22px] md:text-[16px] text-[14px] lg:leading-[27px] leading-[22px] font-semibold"
          >Console</span
        >
        <img src="../../../assets/images/arrow_forward.svg" alt="arrow-forward" class="max-md:[10px]" />
      </button>
    </div>
  </div>
</section>
