.slide-box {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
  @media screen and (max-width: 1023px) {
    min-height: calc(100vh - 102px);
  }
  @media screen and (max-width: 767px) {
    min-height: auto;
  }
}
