.swiper-slide {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.swiper-slide-active {
  opacity: 1;
}

::ng-deep .typed-cursor {
  font-weight: bold;
  color: var(--algoseek-color-accent);
}
