<div
  class="hero-slider-swiper swiper h-full slide-box max-md:pt-[100px] max-sm:pt-[75px] max-md:pb-[170px] max-sm:pb-[95px] mt-[140px]"
>
  <div class="h-full flex justify-center items-center flex-col">
    <div class="flex justify-center flex-col items-center lg:gap-3 gap-2">
      <div class="desktop-subheader greyScale-dark">
        {{ slides?.[currentWordIndex]?.title }}
      </div>

      <div class="flex justify-center flex-col items-center lg:gap-8 gap-4">
        <div class="desktop-heading-h1 text-center">
          <a class="greyScale-dark">Enjoy </a>
          <a #typedElement></a>
          <a><br />Leave data to <a class="accent-green">algoseek.</a></a>
        </div>

        <div class="desktop-subheader greyScale-darker-grey">
          {{ slides?.[currentWordIndex]?.description }}
        </div>
      </div>
    </div>
  </div>
</div>
