<div class="xl:py-[100px] md:py-[80px] py-[40px]">
  <div class="container mx-auto">
    <div class="flex flex-col items-center xl:gap-[80px] md:gap-[60px] gap-[32px] w-full max-xl:px-[16px]">
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        <div class="flex flex-col items-center gap-4 w-full">
          <div class="desktop-subheader accent-green">Leave Data to algoseek</div>
          <div class="desktop-heading-h2 greyScale-dark text-center">
            <a class="text-center">Data Onboarding & Engineering Services</a>
          </div>
        </div>
        <div class="desktop-body-text-sm greyScale-darker-grey text-center">
          Built on a founding team with 140 years of collective experience in data and algo-trading, and with over 60%
          of our dev team holding PhDs, algoseek's market data stands for quality, reliability, and flexibility. Whether
          you're a quant firm, a market maker, a financial service provider, a big data researcher, a fintech startup,
          or a corporate treasurer, we are here to deliver customizable real-time data solutions tailored to your needs.
        </div>
      </div>
      <div class="md:grid grid-cols-5 hidden">
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full">
            <div
              class="flex flex-col justify-center xl:px-[28px] lg:px-3 px-2 xl:py-[48px] lg:py-[24px] md:py-[10px] xl:gap-6 lg:gap-3 md:gap-1 xl:mr-6 md:mr-2 mr-4"
            >
              <img
                src="../../../../../assets/images/data-oboarding/CollectingDataFromThirdPartySources.svg"
                class="xl:w-[64px] lg:w-[48px] md:w-[36px] mx-auto"
              />
              <div class="text-center desktop-heading-h6 max-lg:text-base greyScale-black">
                Collecting data from third-party sources
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/CollectingDataFromThirdPartySources.png" />
        </div>
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full">
            <div
              class="flex flex-col justify-center xl:px-[28px] lg:px-3 px-2 xl:py-[48px] lg:py-[24px] md:py-[10px] xl:gap-6 lg:gap-3 md:gap-1 xl:mx-6 mx-4"
            >
              <img
                src="../../../../../assets/images/data-oboarding/DataprofilingQA.svg"
                class="xl:w-[64px] lg:w-[48px] md:w-[36px] mx-auto"
              />
              <div class="text-center desktop-heading-h6 max-lg:text-base greyScale-black">Data profiling and QA</div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/DataprofilingQA.png" />
        </div>
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full">
            <div
              class="flex flex-col justify-center xl:px-[28px] lg:px-3 px-2 xl:py-[48px] lg:py-[24px] md:py-[10px] xl:gap-6 lg:gap-3 md:gap-1 xl:mx-6 md:mx-2 mx-4"
            >
              <img
                src="../../../../../assets/images/data-oboarding/Normalization-Cleaning.svg"
                class="xl:w-[64px] lg:w-[48px] md:w-[36px] mx-auto"
              />
              <div class="text-center desktop-heading-h6 max-lg:text-base greyScale-black">
                Normalization<br />
                & cleaning
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/Normalization-Cleaning.png" />
        </div>
        <div class="col-span-2 relative">
          <div class="grid grid-cols-2 absolute w-full">
            <div class="w-full h-full">
              <div
                class="flex flex-col justify-center xl:px-[28px] lg:px-1 px-1 xl:py-[48px] lg:py-[24px] md:py-[10px] xl:gap-6 lg:gap-3 md:gap-1 xl:mx-6 md:mx-2 mx-4"
              >
                <img
                  src="../../../../../assets/images/data-oboarding/cross-referencing.svg"
                  class="xl:w-[64px] lg:w-[48px] md:w-[36px] mx-auto"
                />
                <div class="text-center desktop-heading-h6 max-lg:text-base greyScale-black">
                  Cross-referencing<br />
                  & entity mapping
                </div>
              </div>
            </div>
            <div class="w-full h-full">
              <div
                class="flex flex-col justify-center xl:px-[28px] lg:px-3 px-2 lg:pl-[62px] md:pl-10 xl:py-[48px] md:py-[24px] xl:gap-6 lg:gap-3 md:gap-1 xl:mx-6 md:mx-2 mx-4"
              >
                <img
                  src="../../../../../assets/images/data-oboarding/deliveryShape.svg"
                  class="xl:w-[64px] lg:w-[48px] md:w-[36px] mx-auto"
                />
                <div class="text-center desktop-heading-h6 max-lg:text-base greyScale-white">Delivery</div>
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/deliveryShape.png" />
        </div>
      </div>
      <div class="md:hidden flex flex-col">
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full">
            <div class="flex flex-col justify-center px-4 pt-6 pb-8 gap-3">
              <img
                src="../../../../../assets/images/data-oboarding/CollectingDataFromThirdPartySources.svg"
                class="w-[48px] mx-auto"
              />
              <div class="text-center desktop-heading-h6 greyScale-black">
                Collecting data from<br />
                third-party sources
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/CollectingData_mobile.png" />
        </div>
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full">
            <div class="flex flex-col justify-center px-4 pt-16 max-[375px]:pt-14 pb-8 gap-3">
              <img src="../../../../../assets/images/data-oboarding/DataprofilingQA.svg" class="w-[48px] mx-auto" />
              <div class="text-center desktop-heading-h6 greyScale-black">
                Data profiling<br />
                and QA
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/DataprofilingQA_mobile.png" />
        </div>
        <div class="relative">
          <div class="absolute top-0 left-0 w-full h-full">
            <div class="flex flex-col justify-center px-4 pt-16 max-[375px]:pt-14 pb-8 gap-3">
              <img
                src="../../../../../assets/images/data-oboarding/Normalization-Cleaning.svg"
                class="w-[48px] mx-auto"
              />
              <div class="text-center desktop-heading-h6 greyScale-black">
                Normalization<br />
                & cleaning
              </div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/Normalization-Cleaning_mobile.png" />
        </div>
        <div class="relative">
          <div class="absolute top-0 left-0 w-full">
            <div class="flex flex-col justify-center px-4 pt-16 max-[375px]:pt-14 pb-8 gap-3">
              <img src="../../../../../assets/images/data-oboarding/cross-referencing.svg" class="w-[48px] mx-auto" />
              <div class="text-center desktop-heading-h6 greyScale-black">
                Cross-referencing<br />
                & entity mapping
              </div>
            </div>
          </div>
          <div class="absolute bottom-0 left-0 w-full">
            <div class="flex flex-col justify-center px-4 pt-16 pb-8 gap-3">
              <img src="../../../../../assets/images/data-oboarding/deliveryShape.svg" class="w-[48px] mx-auto" />
              <div class="text-center desktop-heading-h6 greyScale-white">Delivery</div>
            </div>
          </div>
          <img src="../../../../../assets/images/data-oboarding/deliveryShape_mobile.png" />
        </div>
      </div>
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        <div class="desktop-body-text-sm greyScale-darker-grey text-center">
          A centralized platform providing immediate access to a comprehensive suite of algoseek and thirdparty
          financial data, tools, and services, all within a secure cloud environment
        </div>
        <div class="flex justify-start max-md:w-full">
          <button class="outline-black-btn flex items-center justify-center gap-2 cursor-pointer max-md:w-full">
            <span class="links-button greyScale-black">Learn more</span>
            <img src="../../../../../assets/images/arrow-up-cross_black.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
