.line-bottom {
  position: relative;
  &::before {
    left: 50%;
    width: 1px;
    content: '';
    height: 20px;
    bottom: -21px;
    position: absolute;
    background: var(--algoseek-color-lighter-gray);
  }
  &:last-child {
    &::before {
      content: '';
      display: none;
      position: absolute;
    }
  }
}
.line-right {
  position: relative;
  &::after {
    content: '';
    width: 20px;
    height: 1px;
    bottom: 50%;
    right: -21px;
    position: absolute;
    background: var(--algoseek-color-lighter-gray);
  }
}
