.line-bottom {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background: var(--algoseek-color-lighter-gray);
    height: 20px;
    width: 1px;
    left: 50%;
    bottom: -21px;
  }
}
.line-right {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background: var(--algoseek-color-lighter-gray);
    width: 20px;
    height: 1px;
    right: -21px;
    bottom: 50%;
  }
}
