<div class="xl:py-[100px] md:py-[80px] py-[40px]">
  <div class="container mx-auto">
    <div class="flex flex-col items-center xl:gap-[80px] md:gap-[60px] gap-[32px] w-full max-xl:px-[16px]">
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        <div class="flex flex-col items-center gap-4 w-full">
          <div class="desktop-subheader accent-green">{{ realTimeData().subtitle }}</div>
          <div class="desktop-heading-h2 greyScale-dark">{{ realTimeData().title }}</div>
        </div>
        <div class="desktop-body-text-sm greyScale-darker-grey text-center">
          {{ realTimeData().description }}
        </div>
      </div>
      <div class="sm:grid sm:grid-cols-11 xl:gap-[120px] md:gap-[60px] max-sm:flex max-sm:flex-col gap-[40px] w-full">
        <div class="flex flex-col items-center gap-6 flex-1 lg:col-span-3 md:col-span-5 sm:col-span-11">
          <div class="desktop-heading-h4 greyScale-black text-center w-full">
            Flexible<br />
            Technology
          </div>
          <div class="flex flex-col items-center gap-5 self-stretch">
            <div class="border h-[56px] w-full rounded-lg flex items-center justify-center line-bottom">
              <div class="desktop-heading-h6 greyScale-dark">MultiCast</div>
            </div>
            <div class="border h-[56px] w-full rounded-lg flex items-center justify-center line-bottom">
              <div class="desktop-heading-h6 greyScale-dark">TCP Socket</div>
            </div>
            <div class="border h-[56px] w-full rounded-lg flex items-center justify-center line-bottom">
              <div class="desktop-heading-h6 greyScale-dark">Kafka Streaming</div>
            </div>
            <div class="border h-[56px] w-full rounded-lg flex items-center justify-center line-bottom">
              <div class="desktop-heading-h6 greyScale-dark">Restful API</div>
            </div>
            <div class="border h-[56px] w-full rounded-lg flex items-center justify-center line-bottom">
              <div class="desktop-heading-h6 greyScale-dark">WebSocket</div>
            </div>
            <div class="border h-[56px] w-full rounded-lg flex items-center justify-center">
              <div class="desktop-heading-h6 greyScale-dark">Real-time Database</div>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center gap-6 flex-1 lg:col-span-3 md:col-span-6 sm:col-span-11">
          <div class="desktop-heading-h4 greyScale-black text-center w-full">
            Flexible<br />
            Latency Profile
          </div>
          <div class="flex flex-col items-center gap-5 self-stretch">
            <div
              class="border h-[72px] w-full rounded-lg flex items-center justify-center flex-col self-stretch line-bottom"
            >
              <div class="desktop-heading-h6 greyScale-dark">&lt; 10us</div>
              <div class="desktop-body-label greyScale-grey">Ultra-low-Latency</div>
            </div>
            <div
              class="border h-[72px] w-full rounded-lg flex items-center justify-center flex-col self-stretch line-bottom"
            >
              <div class="desktop-heading-h6 greyScale-dark">&lt; 30us</div>
              <div class="desktop-body-label greyScale-grey">Low latency</div>
            </div>
            <div
              class="border h-[72px] w-full rounded-lg flex items-center justify-center flex-col self-stretch line-bottom"
            >
              <div class="desktop-heading-h6 greyScale-dark">&lt; 100us</div>
              <div class="desktop-body-label greyScale-grey">Medium latency</div>
            </div>
            <div
              class="border h-[72px] w-full rounded-lg flex items-center justify-center flex-col self-stretch line-bottom"
            >
              <div class="desktop-heading-h6 greyScale-dark">5 to 10 seconds</div>
              <div class="desktop-body-label greyScale-grey">Near-realtime</div>
            </div>
            <div class="border h-[72px] w-full rounded-lg flex items-center justify-center flex-col self-stretch">
              <div class="desktop-heading-h6 greyScale-dark">10/15 minutes</div>
              <div class="desktop-body-label greyScale-grey">Delayed data</div>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center gap-6 flex-1 lg:col-span-5 sm:col-span-11">
          <div class="desktop-heading-h4 greyScale-black text-center w-full">
            Flexible<br />
            Access
          </div>
          <div class="flex justify-end items-start align gap-5 w-full">
            <div class="flex flex-col items-center gap-5 self-stretch w-full">
              <div
                class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom line-right"
              >
                <div class="desktop-heading-h6 greyScale-dark">Co-location</div>
              </div>
              <div
                class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom line-right"
              >
                <div class="desktop-heading-h6 greyScale-dark">Cross-Connect</div>
              </div>
              <div
                class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom line-right"
              >
                <div class="desktop-heading-h6 greyScale-dark">Virtual Network</div>
              </div>
              <div class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center">
                <div class="desktop-heading-h6 greyScale-dark">Open Internet</div>
              </div>
            </div>
            <div class="flex flex-col items-center gap-5 self-stretch w-full">
              <div class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom">
                <div class="desktop-heading-h6 greyScale-dark">Kafka Streaming</div>
              </div>
              <div class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom">
                <div class="desktop-heading-h6 greyScale-dark">ArdaDB</div>
              </div>
              <div class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom">
                <div class="desktop-heading-h6 greyScale-dark">AWS Kinesis</div>
              </div>
              <div class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center line-bottom">
                <div class="desktop-heading-h6 greyScale-dark">Custom Delivery</div>
              </div>
              <div class="text-center border h-[72px] w-full rounded-lg flex items-center justify-center px-2">
                <div class="desktop-heading-h6 greyScale-dark">Ticker Plant as a Service</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center xl:gap-6 md:gap-5 gap-3">
        <button
          class="w-full theme-button flex items-center justify-center gap-[10px] md:px-[32px] sm:px-[24px] px-[20px] py-[12px] max-sm:max-w-[124px] rounded-[60px] cursor-pointer"
        >
          <span class="links-button">Business</span>
        </button>
        <button
          class="w-full theme-button flex items-center justify-center gap-[10px] md:px-[32px] sm:px-[24px] px-[20px] py-[12px] max-sm:max-w-[124px] rounded-[60px] cursor-pointer"
        >
          <span class="links-button">Academic</span>
        </button>
        <button
          class="w-full theme-button flex items-center justify-center gap-[10px] md:px-[32px] sm:px-[24px] px-[20px] py-[12px] max-sm:max-w-[124px] rounded-[60px] cursor-pointer"
        >
          <span class="links-button">Individual</span>
        </button>
      </div>
    </div>
  </div>
</div>
