.svg-outline {
  outline: 1px solid var(--algoseek-color-accent);
  outline-offset: 3px;
  border-radius: 30px;
}
.dotted-line {
  content: '';
  position: absolute;
  left: 1px;
  top: 20px;
  width: 1px;
  height: 353px;
  border-left: 2px dashed var(--algoseek-color-accent);
  @media screen and (max-width: 1535px) {
    height: 378px;
  }
  @media screen and (max-width: 1279px) {
    height: 313px;
  }
  @media screen and (max-width: 1024px) {
    height: 270px;
  }
  @media screen and (max-width: 768px) {
    height: 218px;
  }
  @media screen and (max-width: 562px) {
    height: 247px;
  }
  @media screen and (max-width: 451px) {
    height: 265px;
  }
  @media screen and (max-width: 430px) {
    height: 280px;
  }
  @media screen and (max-width: 382px) {
    height: 300px;
  }
}

.glowing-effect {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  box-shadow: 0 0 5px rgba(255, 0, 21, 0.4), 0 0 10px rgba(255, 0, 21, 0.3), 0 0 17px rgba(255, 0, 21, 0.2);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px rgba(255, 0, 21, 0.6), 0 0 1px rgba(255, 0, 21, 0.4), 0 0 2px rgba(255, 0, 21, 0.3);
  }
}

