<div class="xl:py-[100px] md:py-[80px] py-[40px]">
  <div class="container mx-auto">
    <div class="flex flex-col items-center xl:gap-[80px] md:gap-[60px] gap-[32px] w-full max-xl:px-[16px]">
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        @if (hpAlgoseekDataPackages().is_new) {
          <div class="text-[#FF0015] bg-[#FF00151A] desktop-heading-h6 text-center px-4 py-1.5 rounded-[30px]">New</div>
        }

        <div class="desktop-heading-h2 greyScale-dark text-center">
          <a>{{ hpAlgoseekDataPackages().title }}</a>
        </div>

        <div class="desktop-body-text greyScale-darker-grey text-center">
          {{ hpAlgoseekDataPackages().description }}
        </div>
      </div>

      <div class="lg:grid md:grid-cols-12 w-full xl:gap-[100px] lg:gap-[40px] flex flex-col md:gap-[30px] gap-[24px]">
        <div class="w-full xl:col-span-6 lg:col-span-5 md:col-span-4">
          <img [src]="baseUrl + '/assets/' + hpAlgoseekDataPackages().image" class="w-full" />
        </div>

        <div class="xl:col-span-6 lg:col-span-7 md:col-span-8">
          <div class="flex flex-col xl:gap-16 lg:gap-8 gap-6 w-full relative">
            <div class="dotted-line"></div>

            @for (item of hpAlgoseekDataPackagesItem(); track item) {
              <div class="flex flex-col md:gap-3 gap-2 w-full">
                <div class="flex items-start gap-3">
                  <div class="py-3">
                    <div class="h-[5px] w-[5px] rounded-full bg-accent-green svg-outline"></div>
                  </div>
                  
                  <div class="flex flex-col md:gap-3 gap-1.5">
                    <div class="desktop-heading-h4 greyScale-dark">{{ item.name }}</div>
                    <div class="desktop-body-text greyScale-dark-grey">
                      {{ item.description }}
                    </div>
                  </div>
                </div>
              </div>
            }

            <div class="flex justify-start md:pl-[44px]">
              <button
                class="theme-button flex items-center justify-center gap-[10px] md:px-[32px] sm:px-[24px] px-[20px] py-[12px] rounded-[60px] cursor-pointer"
              >
                <span class="links-button">View Package Options</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
