<app-hero-slider />
<app-home-stats #homeStats />
<app-trusted-brand />
<app-real-time-data />
<app-data-and-services />
<app-data-offerings />
<app-market-data-types />
<app-core-extended-reference-data />
<app-data-packages />
<app-arda-db />
<app-algoseek-console />
<app-data-onboarding-services />
<app-infra-connect />
<app-why-algoseek />
<app-contact-us />

<!-- scroll and talk to us button -->
@if (showTalkToUsButton) {
  <button class="fixed bottom-2 right-3 z-50">
    <img src="../../../assets/images/talk_to_us_button.png" class="w-[64px] h-[64px]" />
  </button>
}
