<app-header />
<app-hero-slider />
<app-home-stats #homeStats />
<app-trusted-brand />
<app-real-time-data />
<app-data-and-services />
<app-data-offerings />
<app-market-data-types />
<app-core-extended-reference-data />
<app-data-packages />
<app-arda-db />
<app-algoseek-console />
<app-data-onboarding-services />
<app-infra-connect />
<app-why-algoseek />
<app-contact-us />
<app-footer />

<!-- scroll and talk to us button -->
@if (isScrolled) {
  <button
    (click)="scrollToTop()"
    id="scrollUp"
    class="fixed bottom-[80px] right-3 w-[64px] h-[64px] rounded-full z-50 flex justify-center items-center bg-accent-green"
  >
    <img src="../../../assets/images/arrow_forward.svg" class="-rotate-90" />
  </button>

  <button class="fixed bottom-2 right-3 z-50">
    <img src="../../../assets/images/talk_to_us_button.png" class="w-[64px] h-[64px]" />
  </button>
}
