<div class="xl:py-[100px] md:py-[80px] py-[40px]">
  <div class="container mx-auto">
    <div class="flex flex-col items-center xl:gap-[80px] md:gap-[60px] gap-[32px] w-full max-xl:px-[16px]">
      <div class="flex flex-col items-center gap-6 max-w-[952px] mx-auto">
        <div class="desktop-heading-h2 greyScale-dark text-center">
          <a>{{ algoseekConsole().title }}</a>
        </div>
        <div class="desktop-body-text-sm greyScale-darker-grey text-center">
          {{ algoseekConsole().description }}
        </div>
      </div>
      <div class="lg:grid md:grid-cols-2 xl:gap-[146px] lg:gap-[40px] gap-5 w-full flex flex-col place-items-center">
        <div class="lg:col-span-1">
          <div class="bg-common-gradient xl:p-10 p-4 rounded-2xl">
            <div class="md:mb-12 mb-[24px]">
              <div class="grid grid-cols-3 md:gap-6 gap-3">
                @for (icon of hpAlgoseekConsoleIcons().top; track $index) {
                  <div class="console-box-bg" [ngClass]="{ 'line-bottom': $index == 1 }">
                    <div
                      [innerHtml]="icon.svg | safeHtml"
                      class="algoseek-icon">
                    </div>
                    <div class="desktop-body-text-sm greyScale-dark-grey">{{ icon.name }}</div>
                  </div>
                }
              </div>
            </div>
            <div class="flex flex-col md:gap-6 gap-3 md:mb-6 mb-3 relative">
              <div class="grid grid-cols-3 md:gap-6 gap-3">
                <img
                  src="../../../../../assets/images/algoseek-console/left-top-curve.svg"
                  class="absolute min-[768px]:-top-[24px] -top-[12px] min-[575px]:left-[86px] min-[450px]:left-[76px] left-[56px] max-[475px]:hidden z-10"
                />
                <img
                  src="../../../../../assets/images/algoseek-console/right-top-curve.svg"
                  class="absolute min-[768px]:-top-[24px] -top-[12px] min-[575px]:right-[86px] min-[450px]:right-[76px] right-[56px] max-[475px]:hidden max-[475px]:hidden z-10"
                />
                <div class="absolute -top-[12px] left-0 min-[476px]:hidden rotate-180 flex justify-center w-full">
                  <img src="../../../../../assets/images/algoseek-console/bottom-curve-small.svg" class="" />
                </div>

                @for (icon of hpAlgoseekConsoleIcons().middle; track icon) {
                  <div class="console-box-outline-bg bg-common-gradient line-bottom">
                    <div
                      class="algoseek-icon"
                      [innerHtml]="icon.svg | safeHtml"
                    ></div>
                    <div class="desktop-body-text-sm greyScale-dark-grey text-center">{{ icon.name }}</div>
                  </div>
                }
              </div>
              <div class="grid grid-cols-3 md:gap-6 gap-3">
                @for (icon of hpAlgoseekConsoleIcons().bottom; track $index) {
                  <div class="console-box-outline-bg bg-common-gradient" [ngClass]="{ 'line-bottom': $index == 1 }">
                    <div
                      class="algoseek-icon"
                      [innerHtml]="icon.svg | safeHtml"
                    ></div>
                    <div class="desktop-body-text-sm greyScale-dark-grey text-center">
                      {{ icon.name }}
                    </div>
                  </div>
                }

                <img
                  src="../../../../../assets/images/algoseek-console/left-bottom-curve.svg"
                  class="absolute min-[768px]:-bottom-[24px] -bottom-[12px] min-[575px]:left-[86px] min-[450px]:left-[76px] left-[56px] max-[475px]:hidden"
                />
                <img
                  src="../../../../../assets/images/algoseek-console/right-bottom-curve.svg"
                  class="absolute min-[768px]:-bottom-[24px] -bottom-[12px] min-[575px]:right-[86px] min-[450px]:right-[76px] right-[56px] max-[475px]:hidden"
                />
                <div class="absolute -bottom-[12px] left-0 min-[476px]:hidden flex justify-center w-full">
                  <img src="../../../../../assets/images/algoseek-console/bottom-curve-small.svg" class="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:col-span-1">
          <div class="flex flex-col md:gap-9 gap-6">
            <div class="desktop-body-text greyScale-dark-grey max-md:text-center"
              [innerHTML]="algoseekConsole().content">
            </div>
            <div class="flex justify-start max-md:w-full">
              <button
                class="theme-button flex items-center justify-center gap-[10px] md:px-[32px] sm:px-[24px] px-[20px] py-[12px] rounded-[60px] cursor-pointer max-md:w-full"
              >
                <span class="links-button">Go to Console</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
