.console-box-bg {
  gap: 12px;
  z-index: 11;
  flex: 1 0 0;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background: rgba(89, 167, 69, 0.1);
}
.console-box-outline-bg {
  gap: 12px;
  z-index: 11;
  flex: 1 0 0;
  display: flex;
  padding: 16px 20px;
  position: relative;
  border-radius: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--algoseek-color-lighter-gray);
}
.line-bottom {
  position: relative;
  &::before {
    content: '';
    left: 50%;
    width: 2px;
    height: 24px;
    bottom: -25px;
    position: absolute;
    background: var(--algoseek-color-lighter-gray);
    @media screen and (max-width: 768px) {
      left: 50%;
      width: 2px;
      height: 12px;
      bottom: -13px;
    }
  }
}
.line-top {
  position: relative;
  &::after {
    content: '';
    left: 50%;
    top: -25px;
    width: 2px;
    height: 24px;
    position: absolute;
    background: var(--algoseek-color-lighter-gray);
    @media screen and (max-width: 768px) {
      left: 50%;
      width: 2px;
      top: -13px;
      height: 12px;
    }
  }
}
