<div class="xl:py-[100px] md:py-[80px] py-[40px] bg-greyScale-dark why-algoseek-bg h-full w-full overflow-hidden">
  <div class="container mx-auto">
    <div class="flex flex-col md:gap-16 gap-8 max-xl:px-[16px]">
      <div class="desktop-heading-h2 greyScale-light-base text-center">
        <a>Why algoseek</a>
      </div>
      <div class="grid grid-cols-12">
        <div class="col-span-6">
          <div
            class="flex items-center desktop-heading-h4 greyScale-white md:h-[112px] lg:py-8 md:py-5 py-[14px] md:px-6 lg:pr-16 md:pr-8 pr-4 border-b border-[#444]"
          >
            We are
          </div>
        </div>
        <div class="col-span-6 border-l border-[#444]">
          <div
            class="flex items-center desktop-heading-h4 greyScale-white md:h-[112px] lg:py-8 md:py-5 py-[14px] md:px-6 lg:pl-16 md:pl-8 pl-4 border-b border-[#444]"
          >
            We offer
          </div>
        </div>
        <div class="col-span-6 border-b border-[#444]">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pr-16 md:pr-8 pr-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-are-1.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px] opacity-50"
            />
            <div class="desktop-body-text greyScale-white">Founded by trading veterans and financial data experts</div>
          </div>
        </div>
        <div class="col-span-6 border-b border-[#444] border-l">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pl-16 md:pl-8 pl-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-offer-1.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px]"
            />
            <div class="desktop-body-text greyScale-white">
              The most comprehensive, institutional-grade research data for quants and traders
            </div>
          </div>
        </div>
        <div class="col-span-6 border-b border-[#444]">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pr-16 md:pr-8 pr-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-are-2.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px]"
            />
            <div class="desktop-body-text greyScale-white">
              An energetic 8-year-old company with big ambition, maturity & expertise but no historical baggage
            </div>
          </div>
        </div>
        <div class="col-span-6 border-b border-[#444] border-l">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pl-16 md:pl-8 pl-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-offer-2.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px] opacity-50"
            />
            <div class="desktop-body-text greyScale-white">
              Most competitive pricing for high quality institutional data and services
            </div>
          </div>
        </div>
        <div class="col-span-6 border-b border-[#444]">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pr-16 md:pr-8 pr-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-are-3.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px] opacity-50"
            />
            <div class="desktop-body-text greyScale-white">
              A team with 80% of personnel being developers and data scientists, of which over 60% holding PhDs
            </div>
          </div>
        </div>
        <div class="col-span-6 border-b border-[#444] border-l">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pl-16 md:pl-8 pl-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-offer-3.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px] opacity-50"
            />
            <div class="desktop-body-text greyScale-white">
              Data infrastructure and services including database, data pipeline, data tools, & data engineering
            </div>
          </div>
        </div>
        <div class="col-span-6">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pr-16 md:pr-8 pr-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-are-4.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px] opacity-50"
            />
            <div class="desktop-body-text greyScale-white">Service-oriented, and we always put our clients first</div>
          </div>
        </div>
        <div class="col-span-6 border-l border-[#444]">
          <div
            class="flex max-md:flex-col md:items-center md:gap-6 gap-3 lg:py-8 md:py-5 py-[14px] md:px-6 lg:pl-16 md:pl-8 pl-4"
          >
            <img
              src="../../../../../assets/images/why-algoseek/we-offer-4.svg"
              class="md:w-[60px] md:h-[60px] w-[28px] h-[28px] opacity-50"
            />
            <div class="desktop-body-text greyScale-white">
              High-touch support by an all-PhD support team with intelligence and know-how, rotated from R&D
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center max-md:w-full">
        <button class="outline-white-btn flex items-center justify-center gap-2 cursor-pointer max-md:w-full">
          <span class="links-button greyScale-white">Watch Video</span>
          <div class="arrow-icon"></div>
        </button>
      </div>
    </div>
  </div>
</div>
