<div class="hero-slider-swiper swiper lg:h-[88vh] h-[80vh] md:h-[90vh] slide-box max-md:pt-[100px] max-sm:pt-[75px] max-md:pb-[170px] max-sm:pb-[95px] mt-[140px] relative">
    <div class="mx-auto h-full flex justify-center">
        <img
          src="../../../assets/images/infraX-hero-bg.png"
          class="absolute top-0 left-0 w-full h-full object-cover -z-10"
          alt="infraX"
        />
        <div class="flex flex-col items-center justify-center lg:gap-[12px] md:gap-[20px] gap-[10px] h-full relative z-10 container">
            <div class="desktop-heading-h1 text-center accent-green font-semibold helvetica-font lg:text-[100px]">
                infraX
            </div>
            <div class="desktop-heading-h1 text-center greyScale-white helvetica-font lg:text-[100px]">
                <a>Solution Suite</a> <br />
                <a>for Data Suppliers</a>
            </div>
            <div class="desktop-subheader greyScale-light-base font-normal text-[20px] p-[10px] text-center">
                A complete package to build, sell, deliver and maintain data products to internal and external customers
            </div>
        </div>
    </div>
</div>