.data-service-bg {
  position: relative;
  z-index: 2;
  &::before {
    content: '';
    width: 814px;
    height: 590px;
    position: absolute;
    left: -320px;
    bottom: -360px;
    border-radius: 814px;
    opacity: 0.3;
    background: var(--algoseek-color-accent);
    mix-blend-mode: lighten;
    filter: blur(325px);
    z-index: 1;
    @media screen and (max-width: 768px) {
      position: absolute;
      left: -306px;
      bottom: -258px;
      width: 580px;
      height: 420px;
      border-radius: 580px;
      opacity: 0.3;
      mix-blend-mode: lighten;
      background: var(--algoseek-color-accent);
      filter: blur(200px);
    }
  }
}
.line-color {
  border-color: #ffffff15;
}
