<section
  class="stats-bg w-full sm:h-[550px] lg:py-[64px] sm:py-[56px] py-[40px] lg:px-[120px] md:px-[60px] sm:px-[30px] px-[16px]"
>
  <div class="container mx-auto h-full">
    <div class="flex flex-col items-center justify-center lg:gap-[80px] md:gap-[40px] gap-[32px] h-full">
      <div class="desktop-heading-h4 greyScale-white max-w-[1196px] text-center">
        Since our inception in 2015, we've been fusing advanced technology and financial data know-how to empower our
        clients worldwide to achieve business success.
      </div>
      <div
        class="lg:flex lg:justify-between lg:items-center lg:self-stretch grid sm:grid-cols-2 grid-cols-1 gap-8 w-full"
      >
        <div class="flex flex-col items-center lg:gap-4 gap-2">
          <h6 class="desktop-heading-h6 accent-green">Subscribed by</h6>
          <div class="line-shape"></div>
          <div class="flex flex-col items-center gap-1">
            <div class="desktop-heading-h2 greyScale-white">550+</div>
            <div class="desktop-heading-h6 greyScale-white">INSTITUTIONS</div>
          </div>
        </div>
        <div class="flex flex-col items-center lg:gap-4 gap-2">
          <h6 class="desktop-heading-h6 accent-green">Including</h6>
          <div class="line-shape"></div>
          <div class="flex flex-col items-center gap-1">
            <div class="desktop-heading-h2 greyScale-white">200+</div>
            <div class="desktop-heading-h6 greyScale-white">DATASETS</div>
          </div>
        </div>
        <div class="flex flex-col items-center lg:gap-4 gap-2">
          <h6 class="desktop-heading-h6 accent-green">Data total</h6>
          <div class="line-shape"></div>
          <div class="flex flex-col items-center gap-1">
            <div class="desktop-heading-h2 greyScale-white">3,000+</div>
            <div class="desktop-heading-h6 greyScale-white">TERABYTES</div>
          </div>
        </div>
        <div class="flex flex-col items-center lg:gap-4 gap-2">
          <h6 class="desktop-heading-h6 accent-green">Total live-trading AUM</h6>
          <div class="line-shape"></div>
          <div class="flex flex-col items-center gap-1">
            <div class="desktop-heading-h2 greyScale-white">$350+</div>
            <div class="desktop-heading-h6 greyScale-white">BILLION</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
