@use 'assets/scss/variables.scss';
@use 'assets/scss/algoseek-fonts.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: var(--algoseek-color-dark);
  font-family: 'Proxima Nova', Roboto, 'Helvetica Neue', sans-serif;
}
