.trusted-brand-container {
  .swiper-slide {
    position: relative;

    &::before {
      top: 0;
      width: 1px;
      right: -2px;
      content: '';
      height: 100%;
      position: absolute;
      background-color: var(--algoseek-color-lighter-gray);
    }

    &:last-child {
      &::before {
        content: '';
        display: none;
        position: absolute;
      }
    }
  }

  .swiper-button-prev {
    top: auto;
    bottom: 0;
    right: auto;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    left: calc(50% - 120px);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--algoseek-color-dark);
    background-image: url('../../../../../assets/images/right-arrow.svg');
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: '';
  }

  .swiper-button-prev.swiper-button-disabled {
    background-color: unset;
    border: 1px solid var(--algoseek-color-dark);
    background-image: url('../../../../../assets/images/right-arrow-gray.svg');
  }

  .swiper-button-next.swiper-button-disabled {
    background-color: unset;
    border: 1px solid var(--algoseek-color-dark);
    background-image: url('../../../../../assets/images/left-arrow-gray.svg');
  }

  .swiper-button-next {
    top: auto;
    bottom: 0;
    left: auto;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    right: calc(50% - 120px);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--algoseek-color-dark);
    background-image: url('../../../../../assets/images/left-arrow.svg');
  }
}

::ng-deep .trusted-brand-container .swiper-pagination-bullet-active {
  outline-offset: 4px;
  margin: 0 12px !important;
  outline: 2px solid var(--algoseek-color-black);
  background: var(--algoseek-color-black) !important;
}

::ng-deep .trusted-brand-container .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  margin: 0 8px;
}
