<div class="xl:py-[100px] md:py-[80px] py-[40px] trusted-brand-container bg-common-gradient">
  <div class="container mx-auto">
    <div class="w-full max-xl:px-[16px]">
      <div class="flex flex-col gap-4">
        <div class="desktop-heading-h3 text-center">Trusted by</div>
        <div class="desktop-body-text text-center">
          Our data, technology and services are the go-to for many firms including:
        </div>
      </div>
      <div class="trusted-brand-swiper swiper md:pt-[48px] pt-[28px] sm:pb-[92px]">
        <div class="swiper-wrapper">
          @for (brand of trustedBrands; track $index) {
            <div class="swiper-slide">
              <div class="w-full flex justify-center items-center sm:py-5">
                <img [src]="brand.image" class="max-sm:h-[40px]" />
              </div>
            </div>
          }
        </div>

        <!-- pagination -->
        <div class="swiper-pagination max-sm:hidden"></div>

        <!-- navigation buttons -->
        <div class="swiper-button-prev max-sm:hidden"></div>
        <div class="swiper-button-next max-sm:hidden"></div>
      </div>
    </div>
  </div>
</div>
